on fs
    setprop ro.product.vendor.name Frontier_00RU
on fs
	setprop ro.vendor.build.fingerprint Nokia/Frontier_00RU/FRT:10/QP1A.190711.020/00WW_3_11D:user/release-keys
	setprop ro.odm.build.fingerprint Nokia/Frontier_00RU/FRT:10/QP1A.190711.020/00WW_3_11D:user/release-keys
